/* src/Components/hero/hero.css */
.hero {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 1s ease-in-out;
    will-change: opacity;
}

.hero-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;

}

.model-container {
    position: relative;
    z-index: 6;
    height: 28vh;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adds semi-transparent black overlay */
}

.shop-now-button {
    position: absolute;
    bottom: 15vh;
    z-index: 2;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: underline;
    font-size: 1rem; /* Match navbar item font size */
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 4px;
}

.shop-now-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}